<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
				<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			<h1>Code Magic</h1>
			</nav>
			<div class="content">
			{{ content }}
			
			</div><!-- /.content -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jonathan.chang512@gmail.com">email</a></li>
        		  <li><a href="https://github.com/changjo512">github.com/changjo512</a></li>
				</ul>
			</footer>
		</body>
	</html>
